@import 'color';
@import 'font';

.top {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.ttl {
  font-size: 56px;
  color: $white;
}

.tri {
  display: inline-block;
  margin-right: 16px;
}
  
h2 {
  display: inline-block;
  vertical-align: top;
  color: $white;
  width: auto;
}

// アニメーション
/* fadeUp */
.fadeUp {
  animation: fadeUpAnime 0.8s forwards; /* fadeUpAnimeを0.8秒で一回実行 */
  opacity: 0;
}

/* fadeLeft */
.fadeLeft {
  animation: fadeLeftAnime 0.8s forwards; /* fadeLeftAnimeを0.8秒で一回実行 */
  opacity: 0;
  overflow: hidden;
}

/* fadeRight */
.fadeRight {
  animation: fadeRightAnime 0.8s forwards; /* fadeRightAnimeを0.8秒で一回実行 */
  opacity: 0;
  overflow: hidden;
}

.fadeUpTrigger, .fadeLeftTrigger, .fadeRightTrigger {
  opacity: 0; /* 初めは見えないようにしておく */
}

@keyframes fadeUpAnime {
  from {
    opacity: 0; /* 初めは見えないようにしておく */
    transform: translateY(100px); /* 100px下に動かしておく */
  }

  to {
    opacity: 1; /* 可視化する */
    transform: translateY(0); /* 元の位置に戻す */
  }
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0; /* 初めは見えないようにしておく */
    transform: translateX(100px);/* 100px右に動かしておく */
  }

  to {
    opacity: 1; /* 可視化する */
    transform: translateX(0); /* 元の位置に戻す */
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0; /* 初めは見えないようにしておく */
    transform: translateX(-100px);/* 100px左に動かしておく */
  }

  to {
    opacity: 1; /* 可視化する */
    transform: translateX(0); /* 元の位置に戻す */
  }
}